.assetstoAddcontainer{
    background-color: #e5dbdbe1;
    padding: 2rem;
    border-radius: 5%;
    height: 520px;
}
.assetstoAddlist {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.assettoAddelement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.price {
    margin-right: auto;
}

.negative {
    color: red;
}

.positive {
    color: green;
}

.add__button {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 85, 85, 1);
    color: white;

    &:hover {
        background-color: rgba(255, 85, 85, 0.8);
        transition: background-color 0.3s ease;
    }
}